extends layout

block content
  h1= title 
  p Welcome to #{title}

  ul 
    each message in messages 
      li #{message.text} , #{message.user}, #{message.added}

  form(method ='GET' action='./new')
    input(type="submit" value="Add Message") 